.about-parent {
  width: 100%;
  height: auto;
  padding: 60px 10px;


  .about-cont {
    display: flex;
    align-items: center;
    justify-content: center;

    .about-left {
      padding: 50px 100px 50px 50px;
      background: #e0f1d5d5;
      height: auto;
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: var(--unit);
      justify-content: center;
      align-items: flex-start;
      border-radius: calc(var(--unit) / 2);

      .tagline {
        color: var(--accent2);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        span {
          width: 50px;
          height: 2px;
          background-color: var(--accent);
        }
      }
    }

    .about-right {
      width: 30%;

      img {
        width: 100%;
        aspect-ratio: 0.92;
        transform: translateX(-15%);
        border-radius: calc(var(--unit) / 2);
      }
    }
  }
}


@media (max-width:1000px) {
  .about-parent {

    .about-cont {
      flex-direction: column;
      flex-direction: column-reverse;
      gap: 10px;

      .about-left {
        width: 100%;
        align-items: center !important;
        padding: 10px;

        h2 {
          font-size: 35px !important;
        }
      }

      .about-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          aspect-ratio: 2/1;
          border-radius: calc(var(--unit) / 2);
        }
      }
    }
  }
}