.footer-parent {
  background: var(--accent);
  height: auto;
  width: 100%;
  padding: 20px 10px;

  .cont-footer {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: calc(var(--unit));

    .footer-logo {
      h2 {
        font-size: 28px;
        color: rgba(255, 255, 255, 0.616);
      }
    }


    .footer-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: calc(var(--unit)*2);

      a {
        color: rgba(255, 255, 255, 0.616);
      }
    }

    .social-links {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: calc(var(--unit));
      flex-direction: column;

      .social {
        display: flex;
        gap: calc(var(--unit)*2);
        align-items: center;
        justify-content: center;
      }

      svg {
        font-size: calc(var(--unit) * 1.5);
        color: rgba(255, 255, 255, 0.616);
      }
    }
  }
}