.footer-parent {
  background: var(--grey);
  height: 100px;
  width: 100%;
  .cont-footer {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-logo {
      h2 {
        font-size: 28px;
      }
    }

    .footer-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: calc(var(--unit) * 2);

      a {
        color: rgba(255, 255, 255, 0.616);
      }
    }

    .social-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: calc(var(--unit) * 2);

      svg {
        font-size: calc(var(--unit) * 1.5);
        color: rgba(255, 255, 255, 0.616);
      }
    }
  }
}
