.footer-parent {
  background: var(--accent);
  height: auto;
  width: 100%;
  padding: 20px 10px;

  .cont-footer {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--unit));
  

    .footer-logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.616);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--unit);
      }

      .privacy {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        font-size: 16px;

        a {
          color: rgba(255, 255, 255, 0.616);
        }

        span {
          &:hover {
            color: white;
          }
        }


      }

      .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        cursor: pointer;

        svg {
          font-size: 26px;
          color: rgba(255, 255, 255, 0.616);
        }



      }
    }

 


  }
}

@media (max-width: 950px) {
  .footer-parent {


    .cont-footer {


      .footer-logo {
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        align-items:center;

        h2 {
          font-size: 18px;
          color: rgba(255, 255, 255, 0.616);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: var(--unit);
        }

        .privacy {
          display: flex;
          gap: 30px;
          align-items: center;
          justify-content: center;

          cursor: pointer;
          font-size: 16px;

          a {
            color: rgba(255, 255, 255, 0.616);
          }

          span {
            &:hover {
              color: white;
            }
          }


        }
              }
      }




    }
  

}