.gallery-parent {
  padding: 60px 10px;

  .gallery-cont {
    .gallery-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--unit);

      .tagline {
        color: var(--accent2);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        span {
          width: 50px;
          height: 2px;
          background-color: var(--accent);
        }
      }

      p {
        text-align: center;
        max-width: 85ch;
      }
    }
  }
}

.gallery-images-parent {
  .swiper-slide {
    .swiperr {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      img {
        aspect-ratio: 4/3;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 700px) {
  .gallery-parent {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      aspect-ratio: 1.9;
    }
  }
}
