.blog-view-parent {
  height: auto;
  width: 100%;
  background-color: #effae846;
  position: relative;
  padding: 60px 10px;
  margin-top: 60px;

  .cont-blog-view {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: auto;

    .image-content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .image {
        background: url("../../assets/yogaclass.jpg");
        width: 100%;
       height: 500px;
        border-radius: 10px;
      }

      .blogname-date {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }
    }

    .blog-details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: auto;
    }
  }
}

@media (max-width: 500px) {
  .blog-view-parent {
    .cont-blog-view {
      .image-content {
        .image {
        }

        .blogname-date {
          flex-direction: column;
          align-items: flex-start;
          
        }
      }
    }
  }
}
