.header_parent {
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid rgba(157, 157, 157, 0.678);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 99;

  .header-cont {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        font-size: 32px;
        color: black;
      }
    }

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--unit);
      height: 100%;

      .link {
        color: var(--black);
        font-weight: 500;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: var(--white);
        padding: 5px;

        .nav_text {
          position: relative;
          z-index: 2;
          color: inherit;
          font-weight: inherit;
          background-color: var(--white);
          width: 100%;
          height: 100%;
          padding: 10px 20px;
        }

        &::after {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--accent2);
          content: "";
          height: 100%;
          z-index: 0;
          //  display: none;
          opacity: 0;
          animation: roatetDiv 2s linear infinite;
          // transform: rotate(90deg);

          @keyframes roatetDiv {
            from {
              transform: rotate(0deg);
            }

            100% {
              transform: rotate(360deg);
            }
          }
        }

        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }
    }

    .hamburger-menu {
      display: none;

      .ham-burger {
        .ham-burger-icon {
          color: var(--accent);
          font-size: 30px;
        }
      }
    }
  }
}

.mob-nav {
  background: var(--white);
  z-index: 10;
  height: calc(100vh - 80px);
  margin-top: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  align-items: center;
  justify-content: center;
  transition: var(--trans);
  display: flex;

  a {
    color: var(--accent);
    text-decoration: none;
    margin: 10px 0;
    font-size: 22px;
  }

  &.active {
    right: 0;
  }

  .links {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .header_parent {
    gap: 0px;

    .header-cont {
      justify-content: space-between;
      gap: 10px;

      .logo {
        a {
          font-size: 20px;
        }
      }

      .links {
        gap: 10px;
      }
    }
  }
}

@media (max-width: 900px) {
  .header_parent {
    .header-cont {
      .links {
        display: none;
      }

      .hamburger-menu {
        display: block;
        color: white;
        cursor: pointer;
      }
    }
  }
}


@media (max-width:500px) {
  .header_parent {
    .header-cont {
      justify-content: center;
      gap: 30px;

      .logo {
        a {
          font-size: 18px;
          color: black;
        }
      }

      .links {
        display: none;
      }

      .hamburger-menu {
        .ham-burger {
          .ham-burger-icon {
            color: var(--accent);
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media (max-width:450px) {
  .header_parent {
    .header-cont {
      justify-content: space-between;

      .button {
        display: none;
      }


      .links {
        display: none;
      }


    }
  }
}