.courses-parent {
  height: auto;
  width: 100%;
  background-color: #effae8;
  background: url("../../assets/course_bg.png");

  .courses-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--unit);


    .course-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--unit);

      .tagline {
        color: var(--accent2);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        span {
          width: 50px;
          height: 2px;
          background-color: var(--accent);
        }
      }
    }

    .course-bottom {
      padding: calc(var(--unit));
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: calc(var(--unit));
      flex-wrap: wrap;

      .course-box {

        width: calc(100% / 4 - 10px);
        background: white;
        aspect-ratio: 1;
        border-radius: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 30px;
        gap: calc(var(--unit)*1.5);
        transition: var(--trans);

        .gif {
          background: url("../../assets/yoga.gif");
          width: 100px;
          aspect-ratio: 1;
        }

        .heading-content {
          display: flex;
          flex-direction: column;
          gap: calc(var(--unit)/2);

          h3 {
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 0.7px;
            word-spacing: 1px;
            color: var(--blue);
          }
        }

        &:hover {
          background: var(--accent);
          color: white;
        }


      }
    }


  }
}

@media (max-width:1000px) {
  .courses-parent {

    .courses-cont {
      .course-bottom {
        .course-box {
          width: calc(100% / 2 - 10px);
        }
      }
    }
  }
}

@media (max-width:600px) {
  .courses-parent {
    .courses-cont {
      .course-bottom {
        .course-box {
          width: calc(100% / 1.5 - 10px);
        }
      }
    }
  }
}

@media (max-width:480px) {
  .courses-parent {
    .courses-cont {
      .course-bottom {
        .course-box {
          width: calc(100% / 1 - 10px);
        }
      }
    }
  }
}